.cmp {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  &__popup {
    width: 100%;
    max-width: clamp(350px, var(--base_width), 85%);
    max-height: clamp(350px, var(--base_height), 85%);
    border-radius: var(--popup_border_radius);
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

  }
  &__main {
    width: 100%;
    padding: var(--main_content_padding);
    overflow-y: auto;
    flex-grow: 1;
  }
}
